@model MyShop.Core.ViewModels.ProductListViewModel

@{
    ViewBag.Title = "Home Page";
}
<body style="background-color:whitesmoke">
    <h1 style="color:navy ">Products</h1>

    <div class="col-md-2">
        <h4>Filter By Category</h4>
        <div class="list-group">
            @Html.ActionLink("All", "Index", null, new { @class = Request["Category"] == null ? "list-group-item active" : "list-group-item" })
            @foreach (var cat in Model.ProductCategories)
            {
                @Html.ActionLink(cat.Category, "Index", new { category = cat.Category }, new { @class = Request["Category"] == cat.Category ? "list-group-item active" : "list-group-item" })
            }
        </div>
    </div>
    <div class="col-md-10">
        @foreach (var item in Model.Products)
        {
            <div class="col-md-4" style="height: 400px; width: 300px; padding: auto; margin-top: 25px; margin: auto; margin-right: 5px;background-color:transparent;border:THIN dotted  ; border-block-color :navy" ; >
                <div class="col-md-12">
                    <img class="img-responsive" style="height: 150px; margin: auto;margin-top: 25px; " src="~/Content/ProductImages/@item.Image" />

                </div>

                <div class="col-md-12">
                    <strong><h3>@Html.ActionLink(item.Name, "Details", new { id = item.Id })</h3></strong>
                </div>
                <div class="col-md-12">
                    <p>@item.Description</p>
                </div>
                <div class="col-md-12">
                    <h4>₹@item.Price</h4>
                </div>

                <div class="col-md-12">


                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Edit", "Edit", "ProductManager", new { id = item.Id }, new { @class = "btn btn-default" })

                            @Html.ActionLink("Delete", "Delete", "ProductManager", new { id = item.Id }, new { @class = "btn btn-default" })
                            @Html.ActionLink("Create", "Create", "ProductManager", new { id = item.Id }, new { @class = "btn btn-default" })
                        }
                        else
                        {

                            <a href="@Url.Action("AddToBasket", "Basket", new { Id = item.Id })" class="btn btn-default">Add To Cart</a><br />
                        }

                    }
                    else
                    {

                        <a href="@Url.Action("AddToBasket", "Basket", new { Id = item.Id })" class="btn btn-default">Add To Cart</a><br />
                    }



                </div>
            </div>
        }
        </body>
    </div>
    <div class="col-md-12 clearfix" />
    </div>
